.contact-section {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.contact-container a {
  all: unset;
}

.contact-icon {
  cursor: pointer;
}

.linkedin {
  font-size: 8rem;
  border-radius: 13px;
  overflow: hidden;
}
.linkedin:hover {
  color: rgb(0,102,154);
  background-color: white;
}

.github {
  font-size: 9rem;
  border-radius: 50%;
  overflow: hidden;
}
.github:hover {
  color: white;
  background-color: black;
}

.gmail {
  margin-left: -.85rem;
  font-size: 10rem;
}
.gmail:hover {
  color: rgb(199,41,38);
}